@import url('./reset.css');
@import url('https://use.fontawesome.com/releases/v5.7.2/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

* {
    font-family: 'Noto Sans TC', sans-serif;
}

.absoluteMiddle {
    //絕對定位中間
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
}

.p-absolute {
    position: absolute;
}

.text-center {
    text-align: center;
}

.style_container__3xued {
    // background: url(/gotoo-co/dream-turbo/static/media/contact_bg.962ccb53.png) 50%/cover no-repeat;
    background-color: #000;
    padding: 140px 12% 120px;

    .wrapper {
        color: #fff;
        margin: auto;
        display: flex;
        flex-wrap: wrap;

        .logo {
            width: 100%;

            img {
                width: 70px;
                transform: translateX(-2px);
            }
        }

        .style_article__1YW7W {
            width: 45%;

            h4 {
                font-size: 17px;
                font-weight: 600;
                letter-spacing: .1em;
                line-height: 1.3em;
                margin: 8px 0 0;
            }

            h5 {
                display: block;
                font-size: 0.83em;
                margin-block-start: 1.67em;
                margin-block-end: 1.67em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                font-weight: bold;
            }

            p {
                margin-top: 30px;
                margin-bottom: 0;
                font-size: 14px;
                line-height: 27px;
                letter-spacing: .075em;
                font-weight: 350;
            }

            .style_btnTail__2H02M {
                margin-top: 50px;

                a {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    height: 22px;
                    width: 22px;
                    text-decoration: none;
                    color: #fff;
                    margin-right: 30px;

                    i {
                        font-size: 20px;
                        color: #fff;
                    }
                }
            }
        }

        .style_form__2c7W2 {
            width: 55%;
            display: flex;
            flex-direction: column;

            .style_inputBlock__2qACM {
                flex: 0 0 auto;
                position: relative;
                height: auto;
                margin-bottom: 20px;

                input {
                    padding: 15px 23px;
                    width: calc(100% - 23px - 23px - 2px);
                    height: 15px;
                    background: none;
                    z-index: 1;
                    color: #fff;
                    font-size: 14px;
                    letter-spacing: .1em;
                    font-weight: 350;
                }

                .style_gradientBorder__1c9AP {
                    border: 1px solid;
                    border-image-source: linear-gradient(45deg, #5f60ff, #0ff);
                    border-image-slice: 1;
                }

            }

            .style_textBlock__2KvcX {
                display: flex;
                flex-direction: column;
                flex: 1 1 auto;
                position: relative;

                textarea {
                    padding: 15px 23px;
                    background: none;
                    resize: none;
                    width: calc(100% - 23px - 23px - 2px);
                    flex: 1 1;
                    z-index: 1;
                    color: #fff;
                    font-size: 14px;
                    letter-spacing: .1em;
                    font-weight: 350;

                    &.style_gradientBorder__1c9AP {
                        border: 1px solid;
                        border-image-source: linear-gradient(45deg, #5f60ff, #0ff);
                        border-image-slice: 1;
                    }
                }
            }

            button {
                border: none;
                background-color: #f3f3f3;
                height: 40px;
                width: 155px;
                font-size: 13px;
                letter-spacing: .075em;
                color: #323232;
                cursor: pointer;
                display: flex;
                align-self: flex-end;
                margin-top: 20px;
                align-items: center;
                justify-content: center;
                font-weight: 400;
            }
        }
    }
}

#home {
    background-color: #000;

    header {
        background-color: rgba(0, 0, 0, .6);
        position: absolute;
        top: calc(100vh - 50px);
        height: 50px;
        width: calc(100% - 25px);
        padding-left: 25px;
        display: flex;
        align-items: center;
        z-index: 99;

        #logo {
            margin-right: 5%;
        }

        #menu {
            a {
                color: #fff;
                padding: 0 20px;
                text-decoration: none;
                font-weight: 400;
                letter-spacing: .2em;
                font-size: 12px;
                display: inline-flex;
                height: 100%;
                align-items: center;
                position: relative;
            }
        }

        #link {
            margin-left: auto;
            margin-right: 2.5%;

            a {
                margin-right: 22px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                height: 18px;
                width: 18px;
                text-decoration: none;
                color: #fff;

                i {
                    font-size: 16px;
                }
            }
        }
    }

    #banner {
        overflow: hidden;
        position: relative;

        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            top: 0;
            left: 0;
        }

        svg {
            @extend .absoluteMiddle,
            .p-absolute;
            z-index: 1;
        }

        #title {
            @extend .absoluteMiddle,
            .p-absolute,
            .text-center;
            z-index: 2;

            h1 {
                margin-top: 10px;
                font-size: 14px;
                color: #fff;
                font-weight: 500;
                line-height: 20px;
                letter-spacing: .2em;
            }
        }

        .slick {
            position: relative;

            .item {
                width: 100%;
                height: 100vh;

                img {
                    object-fit: cover;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    left: 0;
                    top: 0;
                    transition: 0.5s;
                    transform: scale(1);
                }

                &.slick-active {
                    img {
                        transform: scale(1.1);
                    }
                }
            }

            .slick-dots {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                z-index: 2;

                li {
                    button {
                        font-size: 0;
                        width: 22px;
                        height: 6px;
                        border: none;
                        background-color: #fff;
                        transform-origin: left;
                        transform: skewY(-25deg);
                        margin: 3px 0;
                        opacity: 0.25;
                    }

                    &.slick-active {
                        button {
                            opacity: 1;
                        }
                    }
                }
            }

        }


        #schedule {
            position: relative;
            z-index: 2;
            height: 45px;
        }

        #pages {
            position: absolute;
            z-index: 2;
            color: #fff;
            top: 50%;
            transform: translateY(-50%);
            right: 20px;

            #pages_top,
            #pages_footer {
                font-weight: 300;
                font-size: 12px;
                line-height: 1em;
                transform: rotate(90deg);
            }

            #schedule {
                position: relative;
                right: -2px;
                width: 1px;
                height: 45px;

                .line {
                    &.slick-active {
                        width: 1px;
                        height: 45px;
                        background-color: #fff;
                        animation: ProgressDots 4.5s both;
                    }
                }

                @keyframes ProgressDots {
                    from {
                        height: 0px;
                    }

                    to {
                        height: 45px;
                    }
                }
            }


        }
    }
}

@media (max-width: 768px) {
    .style_container__3xued {
        // background: url(/gotoo-co/dream-turbo/static/media/contact_bg.962ccb53.png) 50%/cover no-repeat;
        background-color: #000;
        padding: 140px 12% 120px;

        .wrapper {
            color: #fff;
            margin: auto;
            display: flex;
            flex-wrap: wrap;

            .logo {
                text-align: center;
                margin-bottom: 15px;

                img {
                    width: 70px;
                    transform: translateX(0px);
                }
            }

            .style_article__1YW7W {
                width: 100%;
                text-align: center;
                padding-bottom: 75px;

                h4 {
                    font-size: 15px;
                }

                // h5 {
                // }

                p {
                    font-size: 13px;
                }

                .style_btnTail__2H02M {
                    margin-top: 50px;

                    a {
                        margin-right: 15px;
                    }
                }
            }

            .style_form__2c7W2 {
                width: 100%;
                display: flex;
                flex-direction: column;

                .style_inputBlock__2qACM {
                    flex: 0 0 auto;
                    position: relative;
                    height: auto;
                    margin-bottom: 20px;

                    input {
                        padding: 15px 23px;
                        width: calc(100% - 23px - 23px - 2px);
                        height: 15px;
                        background: none;
                        z-index: 1;
                        color: #fff;
                        font-size: 14px;
                        letter-spacing: .1em;
                        font-weight: 350;
                    }

                    .style_gradientBorder__1c9AP {
                        border: 1px solid;
                        border-image-source: linear-gradient(45deg, #5f60ff, #0ff);
                        border-image-slice: 1;
                    }

                }

                .style_textBlock__2KvcX {
                    display: flex;
                    flex-direction: column;
                    flex: 1 1 auto;
                    position: relative;

                    textarea {
                        padding: 15px 23px;
                        background: none;
                        resize: none;
                        width: calc(100% - 23px - 23px - 2px);
                        flex: 1 1;
                        z-index: 1;
                        color: #fff;
                        font-size: 14px;
                        letter-spacing: .1em;
                        font-weight: 350;

                        &.style_gradientBorder__1c9AP {
                            border: 1px solid;
                            border-image-source: linear-gradient(45deg, #5f60ff, #0ff);
                            border-image-slice: 1;
                        }
                    }
                }

                button {
                    width: 100%;
                    font-size: 14px;
                }
            }
        }
    }
}